redis:
    image: redis
    ports:
        - "127.0.0.1:6379:6379"
        - "172.17.42.1:6379:6379"
    volumes:
        - /var/docker-data1/redis:/data
#es:
#    image: elasticsearch:1.5
#    volumes:
##        - /var/docker-data1/elasticsearch/config:/usr/share/elasticsearch/config
#        - /var/docker-data1/elasticsearch/data:/usr/share/elasticsearch/data
forum:
    image: nodebb/docker:ubuntu
    links:
        - redis:redis
#        - es:es
#    ports:
#        - "4567:4567"
    volumes:
        - /var/docker-data1/nodebb:/opt/nodebb
    environment:
        - VIRTUAL_HOST=forum.zensorhub.com
